body {
  background: white !important;
}

#portlet-wrapper {
  border: 0 !important;
}


#brain_logo {
  display: none;
}

#navigation li.hover a,#navigation a:hover,#navigation a:focus {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #2790B0;
}

#navigation {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #2790B0;
}

#navigation li a {
  background: #2790B0;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#navigation li a.active {
  background: transparent;
  text-decoration: underline;
}

#navigation .selected a {
  background: transparent;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  color: white;
}

#navigation .selected a:hover {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #2790B0;
}

#navigation.menu-wrapper li.hover a,#navigation.menu-wrapper a:hover,#navigation.menu-wrapper a:focus {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #4E4D4A;
}

#navigation.menu-wrapper {
  width: 95%;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #4E4D4A;
}

#navigation.menu-wrapper li a {
  background: #4E4D4A;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#navigation.menu-wrapper .selected a {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #4E4D4A;
}

#navigation.menu-wrapper .selected a:hover {
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.5);
  background: #4E4D4A;
}

#banner .site-name {
  -webkit-box-shadow: inset 0 0 5px #2790B0,1px 1px 1px white;
  -o-box-shadow: inset 0 0 5px #2790B0,1px 1px 1px white;
  box-shadow: inset 0 0 5px #2790B0,1px 1px 1px white;
}

.site-title .site-name {
  background: #2790B0 url(../images/common/site_icon.png) no-repeat 15px 50%;
}

#footer-hr {
  background: #2790B0;
}